<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="./output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="https://github.com/shrestha8summit/Images-for-webpage/blob/main/logo.png?raw=true" type="image/jpg" />
  
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div id="container" class="bg-white p-8 rounded shadow-md w-full max-w-sm">
        <h2 class="text-2xl font-bold text-center mb-4">Login Page</h2>
        <form action="/check" method="post" class="space-y-4">
            <fieldset class="border border-gray-300 p-4 rounded">
                <legend class="text-lg font-semibold">Enter valid keys :</legend>
                
                <div class="mt-4">
                    <label for="pass1" class="block text-sm font-medium text-gray-700">Passkey 1:</label>
                    <input type="password" name="pass1" id="pass1" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>

                <div class="mt-4">
                    <label for="pass2" class="block text-sm font-medium text-gray-700">Passkey 2:</label>
                    <input type="password" name="pass2" id="pass2" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>
                
                <div class="mt-6">
                    <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>
